/*-- scss:defaults --*/

$body-bg: #C0FFEE;
$body-color: #2D3748; // ダークグレーで読みやすさを向上
$link-color: #1A5276; // 深みのある青で落ち着いた印象

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

/* コード入力部分 (チャンク) のスタイル */
.reveal pre code.sourceCode {
  font-size: 35px;
//  max-height: 250px !important;
  overflow-y: auto;
}

/* コード出力部分のスタイル */
.reveal pre code:not(.sourceCode) {
  font-size: 30px; /* 出力用に小さめのフォントサイズ */
//  max-height: 300px !important;
  overflow-y: auto;
}